body {
    font-family: $font-body; 
    line-height: 1.6; 
    margin: 0;
    padding: 0;
    
}


h1, h2, h3, h4, h5, h6, .main-header {
    font-family: $font-header; 
}

h1 {
   
    font-size: clamp(1.5rem, 5vw, 2rem); 
}

.logo {
    font-size: clamp(1.2rem, 3vw, 1.8rem);
}

.no-scroll {
    overflow: hidden;
}
